		<!-- Footer -->
			<div id="footer-wrapper">
				<section id="footer" class="container">
					<div class="row">
						<div class="8u">
							<section>
								<header>
									<h2>What's this all about?</h2>
								</header>
								<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic10.jpg" alt="" /></a>
								<p>
									This is linru's personal portfolio site.<br>
									Click <a href="/index.html"><strong>Home</strong></a> and take a look now! &nbsp <a href="{{ site.baseurl }}/blog"><strong>Projects</strong></a> is where you can find out what I have done and what I have been working on.
									Also two language versions of <a href="cv.html"><strong>CV</strong></a> were attached on this site.<br>
									If you are interested in what I have been working on, find me on the right :) -->
								</p>

							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Find me here</h2>
								</header>
								<ul class="social">
									<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
									<li><a class="icon fa-github" href="#"><span class="label">Twitter</span></a></li>
									<li><a class="icon fa-google" href="#"><span class="label">Dribbble</span></a></li>
									<li><a class="icon fa-linkedin" href="#"><span class="label">LinkedIn</span></a></li>

								</ul>
								<ul class="contact">
									<li>
										<h3>Address</h3>
										<p>
											Otago Polytechnic<br />
											Forth St, North Dunedin, <br />
											Dunedin 9016, TN 0800 762 786
										</p>
									</li>
									<li>
										<h3>Mail</h3>
										<p><a href="#">victor.lilinru@gmail.com</a></p>
									</li>
									<li>
										<h3>Phone</h3>
										<p>(+64) 210-8184695</p>
										<p>(+86) 210-8184695</p>
									</li>
								</ul>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">

							<!-- Copyright -->
								<div id="copyright">
									<ul class="links">
										<li>&copy; Linru Li. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
									</ul>
								</div>

						</div>
					</div>
				</section>
			</div>

	</body>
</html>
