---
title: Projects
layout: default
---
<body>

	{% include nav.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Blog -->
					<section>
						<header class="major">
							<h2>{{ page.title }}</h2>
						</header>
						{% for post in site.posts offset: 0ß %}
						{% if post.title != 'Project Story' %}
						<div class="row">
							<div class="10u -1u">
								<section class="box">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}{{ post.featured }}" alt="" /></a>
									<header>
										<h3>{{ post.title }}</h3>
										<p>Posted {{ post.date | date_to_string }}</p>
									</header>
									{{ post.excerpt }}
									<footer>
										<ul class="actions">

											{% if post.title == 'Otago Polytechnic Project Two' %}
											<li>
												<a href="{{ site.baseurl }}/project2Details.html" class="button alt icon fa-comment">Get more details</a>
											</li>
											{% else %}
												<li><a href="{{ site.baseurl }}{{post.url}}" class="button icon fa-file-text">Continue Reading</a></li>
											{% endif %}

										</ul>
									</footer>
								</section>
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</section>

			</div>
		</div>
	</div>
</div>
